body {
    background: #E7F3FF;
}

h1 {
    color: coral;
}

h2, h3, h4, h5, h6 {
    color: #1F5846;
}

.large-cursive-title {
    font-family: 'Lobster', cursive !important;
    font-size: 110px !important;
    text-decoration: underline;
    color: white !important;
}

.jumbotron {
    background: #1F5846;
    border-radius: 0 0 250px 250px !important;
    border: 5px solid white;
}

.list-checkbox {
    margin-bottom: 40px;
    margin-right: 20px;  
    width: 37px;
    height: 37px;
}

.scoreboard {
    border: 25px solid white;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 2px black;
    padding: 20px;
    overflow: hidden;
}

.score {
    font-size: 3vw;
    margin-top: 35%;
}